<span
	*ngIf="version$ | async as v"
	[matTooltip]="v"
	matTooltipPosition="above"
	class="fixed bottom-3 right-4 text-xs text-secondary z-[9999] cursor-default select-none">
	Version
</span>

<ng-container *ngIf="error; else notError">
	<vex-vague-error-page></vex-vague-error-page>
</ng-container>
  
<ng-template #notError>
	<ng-container *ngIf="isLoading | async; else loaded">
	  	<vex-main-loading></vex-main-loading>
	</ng-container>
</ng-template>
  
<ng-template #loaded>
	<router-outlet></router-outlet>
</ng-template>
  