<div class="vex-user-menu">
	<a
		(click)="onOpenProfile()"
		class="vex-user-menu-item"
		matRipple
		matRippleColor="rgb(var(--vex-color-primary-600), 0.1)">
		<mat-icon
		class="vex-user-menu-item__icon icon-sm"
		svgIcon="mat:account_circle"></mat-icon>
		<div class="vex-user-menu-item__label" (click)="onOpenProfile()">Your Profile</div>
	</a>

	<div class="border-b border-divider mx-4"></div>

	<a
		(click)="onLogout()"
		class="vex-user-menu-item"
		matRipple
		matRippleColor="rgb(var(--vex-color-primary-600), 0.1)">
		<mat-icon
		class="vex-user-menu-item__icon icon-sm"
		svgIcon="mat:logout"></mat-icon>
		<div class="vex-user-menu-item__label">Sign Out</div>
	</a>
</div>
